# Environment Variables
.env
.env.local
*.local
.env.production
.env.development

# Private AI Data
.gemini
.agents

# Logs and Modules
node_modules
dist
dist-ssr
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
